<om-background-beams> 
    <button matButton="filled" color="accent" class="absolute! right-5 top-5">Login</button>
    <div class="h-dvh w-dvw flex flex-col justify-center items-center gap-10 ">

        <h1 class="text-8xl z-100">
            <om-fade [direction]="'down'">  
                Task Orchestration Service
            </om-fade>
            <om-neon-underline></om-neon-underline>
        </h1>
        <h1 class="text-4xl">Where managemant is made <om-highlighter [action]="'underline'">simple</om-highlighter>!</h1>
    </div>
</om-background-beams>
